# Database Crosscheck

In [11]:
from astroquery.sdss import SDSS

In [12]:
print(SDSS.AVAILABLE_TEMPLATES)

{'star_O': 0, 'star_OB': 1, 'star_B': 2, 'star_A': [3, 4], 'star_FA': 5, 'star_F': [6, 7], 'star_G': [8, 9], 'star_K': 10, 'star_M1': 11, 'star_M3': 12, 'star_M5': 13, 'star_M8': 14, 'star_L1': 15, 'star_wd': [16, 20, 21], 'star_carbon': [17, 18, 19], 'star_Ksubdwarf': 22, 'galaxy_early': 23, 'galaxy': [24, 25, 26], 'galaxy_late': 27, 'galaxy_lrg': 28, 'qso': 29, 'qso_bal': [30, 31], 'qso_bright': 32}

In [13]:
SELECT ra,dec
FROM Galaxy
WHERE ra between 149.50840570883662 and 153.27977271595987
AND dec between 40.370446924001904 and 42.45577724210457
AND g > 20

SyntaxError: invalid syntax (<ipython-input-13-7220f06c50ce>, line 1)

In [16]:
query = """
SELECT ra,dec
FROM Galaxy
WHERE ra between 149.50840570883662 and 153.27977271595987
AND dec between 40.370446924001904 and 42.45577724210457
AND g < 20
"""
res = SDSS.query_sql(query)

In [19]:
print(res)

       ra              dec
---------------- ----------------
149.573175602818 40.8946023676976
149.573296305347 40.4812242697767
149.690806632887 41.3370914896135
149.691790877466 41.0682894518569
149.796799205599 41.0310298752514
150.017333898785 42.3147279732037
150.314866994723 41.9308625372712
150.412805538073 41.7019269638938
150.414363715653 40.7497345147597
150.415227382911 41.0414953053784
             ...              ...
152.738526650178 42.0843191148272
152.739243962106 41.3570642588779
  152.8423731882 41.8487858967056
152.842377181711 41.2575763388234
152.842614763299  40.399814253346
152.843688600772 41.8453825876668
152.844305974311 40.6251037168645
152.951088556743 42.2591205882588
152.951982733484 41.1825244444775
153.154906818867  41.908981402823
153.258919151125 41.8596807123236
Length = 2612 rows

In [20]:
galaxies = res.to_pandas()

In [21]:
query = """
SELECT ra,dec
FROM Star
WHERE ra between 149.50840570883662 and 153.27977271595987
AND dec between 40.370446924001904 and 42.45577724210457
AND g < 20
"""
res = SDSS.query_sql(query)

In [22]:
print(res)

       ra              dec
---------------- ----------------
149.532710844102 41.9880206568296
149.534120622171 40.8106419338044
149.534136729349 41.1655632407266
149.534284458342 41.9296159722561
149.534418874239 41.0300064711628
149.534954276065 41.5189688799433
149.749003158302 40.7811475678023
149.749321140037 41.9997227083388
149.749329371969 41.7515653779591
149.749409688238 41.6804681417546
             ...              ...
153.040359053865 42.3178792629951
153.041041818593 41.2513988770502
153.142100087425 41.4402127945055
153.142375986249 40.6551887792305
153.142678734704 41.6974543787388
153.142916324316 42.0066125942352
153.143806018389 40.6821009524499
153.246141861532 42.1928794252612
 153.24614402501 40.5717291535066
153.246506738758 41.5404948859016
153.246759337817  41.939279510572
Length = 6257 rows

In [23]:
stars = res.to_pandas()

In [26]:
print(stars)

              ra        dec
0     149.532711  41.988021
1     149.534121  40.810642
2     149.534137  41.165563
3     149.534284  41.929616
4     149.534419  41.030006
...          ...        ...
6252  153.143806  40.682101
6253  153.246142  42.192879
6254  153.246144  40.571729
6255  153.246507  41.540495
6256  153.246759  41.939280

[6257 rows x 2 columns]

In [1]:
from astropy.io import fits
from astropy import wcs
fits_image_filename = '../Data/newfits/calexp-1-108438.fits'

hdu_list = fits.open(fits_image_filename)
hdu = fits.open(fits_image_filename)[1]
w = wcs.WCS(hdu.header)

In [2]:
image_data = fits.getdata(fits_image_filename,0)
print(type(image_data))
print(image_data.shape)

<class 'numpy.ndarray'>
(6132, 8176)

In [3]:
from astropy.coordinates import SkyCoord
print(w)

WCS Keywords

Number of WCS axes: 2
CTYPE : 'RA---TAN-SIP'  'DEC--TAN-SIP'
CRVAL : 151.891410835415  41.777202445749
CRPIX : 4074.320544  3065.826822
CD1_1 CD1_2  : -9.05112531824021e-07  -0.000347023189685797
CD2_1 CD2_2  : 0.000346982413101619  -9.20137431574141e-07
NAXIS : 8176  6132

In [8]:
lon, lat = w.all_pix2world(6132, 8176, 0)

In [9]:
print(lon,lat)

149.50840570883662 42.45577724210457