# Database Crosscheck

In [2]:
from astroquery.sdss import SDSS

In [3]:
print(SDSS.AVAILABLE_TEMPLATES)

{'star_O': 0, 'star_OB': 1, 'star_B': 2, 'star_A': [3, 4], 'star_FA': 5, 'star_F': [6, 7], 'star_G': [8, 9], 'star_K': 10, 'star_M1': 11, 'star_M3': 12, 'star_M5': 13, 'star_M8': 14, 'star_L1': 15, 'star_wd': [16, 20, 21], 'star_carbon': [17, 18, 19], 'star_Ksubdwarf': 22, 'galaxy_early': 23, 'galaxy': [24, 25, 26], 'galaxy_late': 27, 'galaxy_lrg': 28, 'qso': 29, 'qso_bal': [30, 31], 'qso_bright': 32}

In [ ]:
SELECT ra,dec
FROM Galaxy
WHERE ra between 107.23536444893622 and 111.63706480539425
AND dec between 48.981276188333865 and 51.066737075645605
AND g > 20

In [29]:
query = """
SELECT ra,dec
FROM Galaxy
WHERE ra between 107.23536444893622 and 111.63706480539425
AND dec between 44 and 45
AND g <14
"""
res = SDSS.query_sql(query)

In [30]:
print(res)

       ra              dec
---------------- ----------------
111.487090453715 44.0685578618502
111.421583094121 44.7052255742422
 111.18278415612 44.5522209778749

In [25]:
query = """
SELECT ra,dec
FROM Star
WHERE ra between 107.23536444893622 and 111.63706480539425
AND dec between 48.981276188333865 and 51.066737075645605
"""
res = SDSS.query_sql(query)

In [28]:
print(res)

None

SELECT ra,dec
FROM Star
WHERE ra between 107.23536444893622 and 111.63706480539425
AND dec between 48.981276188333865 and 51.066737075645605

In [4]:
from astropy.io import fits
from astropy import wcs
fits_image_filename = '../Data/fits/calexp-1-136326.fits'

hdu_list = fits.open(fits_image_filename)
hdu = fits.open(fits_image_filename)[1]
w = wcs.WCS(hdu.header)

In [15]:
image_data = fits.getdata(fits_image_filename,0)
print(type(image_data))
print(image_data.shape)

<class 'numpy.ndarray'>
(6132, 8176)

In [6]:
from astropy.coordinates import SkyCoord
print(w)

WCS Keywords

Number of WCS axes: 2
CTYPE : 'RA---TAN-SIP'  'DEC--TAN-SIP'
CRVAL : 110.023098651493  50.3970383595424
CRPIX : 4085.970136  3079.529769
CD1_1 CD1_2  : -1.6539238537465e-07  -0.000346982198809907
CD2_1 CD2_2  : 0.000346910845999464  -1.37876659879343e-07
NAXIS : 8176  6132

In [16]:
lon, lat = w.all_pix2world(6132, 8176, 0)

In [17]:
print(lon,lat)

107.23536444893622 51.066737075645605